{% extends 'account/register.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/account/passwords.css' %}">
{% endblock %}

{% block title %}Reset password {% endblock %}
{% block section_title %}Reset password{% endblock %}

{% block form_item %}
    <div class="auth__form">
        <form method="post">
            {% if messages %}
                {% for message in messages %}
                <div class="auth__message">
                    {{ message }}!
                </div>
                {% endfor %}
            {% endif %}
            <div class="auth__data">New password:</div>
            <div>{{ form.new_password1 }}</div>
            <div class="auth__data">Confirm new password:</div>
            <div>{{ form.new_password2 }}</div>
            {% csrf_token %}
            <div class="auth__btn">
                <p><input class="btn" type="submit" value="Set new password"></p>
            </div>
        </form>
    </div>
{% endblock %}