{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/auth.css' %}">
    {% block links %}{% endblock %}
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="section__title">
                <h2>{% block section_title %} {% endblock %}</h2>
            </div>

            <div class="auth">
                <div class="auth__item"></div>
                <div class="auth__item">
                   {% block form_item %}
                   {% endblock %}
                </div>
                <div class="auth__item"></div>

            </div>
        </div>
    </section>
{% endblock %}
